<form role="form">
	<h3 ng-if="isNew">New article</h3>
	<h3 ng-if="!isNew">{{article.title}}</h3>

	<div class="form-group" ng-if="isNew">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" class="form-control" ng-model="article.title" autocomplete="off">
	</div>

	<div class="form-group">
		<label for="tagQuery">Tags</label>
		<div class="row">
			<div class="col-xs-3">
				<input type="text" class="form-control" ng-model="temp.tag" id="tagQuery"
							 typeahead="tag as tag.title for tag in queryTags($viewValue)"
							 typeahead-on-select="addTag($model)"
							 autocomplete="off"
							 ng-keypress="tagKeyPressed($event)">
			</div>
		</div>
		<div>
			<ul class="list-inline form-list-inline">
				<li ng-repeat="tag in article.tags">
					{{tag.title}}<button class="close" ng-click="removeTag(tag)">&times;</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="productQuery">Products</label>
		<div class="row">
			<div class="col-xs-3">
				<input type="text" class="form-control" ng-model="temp.productVersionRange.product" id="productQuery"
							 typeahead="product as product.title for product in queryProducts($viewValue)"
							 typeahead-on-select="productSelected($model)"
							 autocomplete="off"
							 ng-keypress="productKeyPressed($event)">
			</div>
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">From</span>
					<select class="form-control" ng-options="productVersion as (productVersion.version ? productVersion.version : 'All') for productVersion in temp.productVersions" ng-model="temp.productVersionRange.startProductVersion" ng-change="startVersionChanged()"></select>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="input-group">
					<span class="input-group-addon">To</span>
					<select class="form-control" ng-options="productVersion as (productVersion.version ? productVersion.version : 'All') for productVersion in temp.productVersions" ng-model="temp.productVersionRange.endProductVersion" ng-change="endVersionChanged()"></select>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="addProductVersionRange(temp.productVersionRange)" ng-disabled="!(temp.productVersionRange.product)">Add</button>
		</div>

		<div>
			<ul class="list-inline form-list-inline">
				<li ng-repeat="productVersionRange in article.productVersionRanges">
					{{productVersionRange | productVersionRange}}
					<button class="close" ng-click="removeProductVersionRange(productVersionRange)">&times;</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="form-group">
		<label for="content">Content</label>
		<textarea ui-tinymce="tinymceOptions" name="content" id="content" class="form-control" rows="15" ng-model="article.content" autocomplete="off"></textarea>
	</div>

	<div class="form-group">
		<label>Attachments</label>
		<div class="well" file-drop-area="article.attachments" file-upload-progress="temp.fileUploadProgress">
			<p class="text-center text-muted dz-message">Drag and drop files here</p>
			<p ng-if="temp.fileUploadProgress">{{temp.fileUploadProgress | number:0}}% uploaded</p>
			<progressbar value="temp.fileUploadProgress">
			</progressbar>
		</div>
		<ul>
			<li ng-repeat="attachment in article.attachments">
				{{attachment.fileName}} ({{attachment.size}})
				<button class="close" ng-click="removeAttachment(attachment)">&times;</button>
			</li>
		</ul>
	</div>

	<div class="form-group">
		<label for="relatedArticleQuery">Related articles</label>
		<input type="text" class="form-control" id="relatedArticleQuery" ng-model="temp.relatedArticle"
					 typeahead="article as article.title for article in queryArticles($viewValue)"
					 autocomplete="off"
				   typeahead-on-select="addArticle($model)">
		<ul>
			<li ng-repeat="relatedArticle in article.relatedArticles">
				<span class="strong">{{relatedArticle.title}}</span>
				{{relatedArticle.description}}
			</li>
		</ul>
	</div>

	<button type="submit" class="btn btn-primary" ng-click="saveArticle(article)">Save article</button>
	<button type="button" class="btn btn-primary" ng-click="cancel(article)">Cancel</button>
</form>